# Node / React
/client/node_modules/
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*

/client/dist/
/client/dist-ssr/
/client/build/
/client/.next/
/client/out/

# TypeScript
*.tsbuildinfo

# Java / Spring Boot
/server/target/
/server/*.class
/server/*.jar
/server/*.war
/server/*.log

# Maven wrapper
/server/.mvn/wrapper/maven-wrapper.jar

# env
/client/.env
/client/.env.*
/client/!.env.example

/server/.env
/server/.env.*
/server/!.env.example

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log